<div class="content mt-2">
    <form>
        <div class="row">
            <div class="form-group col-6">
                <input type="text" class="form-control required" id="username" placeholder="Username" value="{{user.username}}">
            </div>
            <div class="form-group col-6">
                <input type="text" class="form-control required" id="name" placeholder="Name" value="{{user.fullname}}">
            </div>
        </div>
        <div class="form-group">
            <input type="email" class="form-control required" id="email" placeholder="Email" value="{{user.email}}">
        </div>
        <div class="form-group">
            <div class="form-group">
                <input type="password" class="form-control required" id="password" placeholder="Password" value={{user.pwd}}>
            </div>
        </div>
        <p id="error" style="color:red;display:none;">Fields cannot be empty !</p>
        <a href="../" class="btn btn-bordeaux mr-2">Back</a>
        <div type="submit" class="btn btn-orange" onclick="addUser()">Add</div>

    </form>
</div>


<script>
    function updateUser(){
        let obj = {
               username: document.querySelector('#username').value,
                fullname: document.querySelector('#name').value,
                email: document.querySelector('#email').value,
                password: document.querySelector('#password').value,
                quizz: user.quizz,
                box: user.box
        }
        xhttp = new XMLHttpRequest();
        xhttp.open("PUT", window.location, true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify(obj));
        setTimeout(() => {
          window.location.href = '../' + document.getElementById('submit').getAttribute('url');
        }, 500)
    }
</script>